.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }
  

body {
    background-color: rgb(32, 32, 52);
}

.mainheading {
    color: white;
    font-size: xx-large;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    scroll-snap-align: center;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease, transform 1s ease;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease, transform 1s ease;
    scroll-snap-align: center;
}

.image-container img {
    margin-left: 20px;
    height: 500px;
    width: 500px;
    display: block;
}

.text-container {
    margin-left: 70px;
}

.text-box {
    width: 900px;
    margin-bottom: 20px;
    font-family: "Poppins";
    font-weight: 500;
    color: white;
    font-size: large
}
.text-box-heading {
  margin-bottom: 0px;
  font-family: "Poppins";
  font-weight: 700;
  color: white;
  font-size: 60px;
  height: 90px;
}
.center {
  display: flex;
  justify-self: center;
  flex-direction: column;
}

.container.visible {
  opacity: 1;
  transform: translateY(0);
}

.mainheading.visible {
  opacity: 1;
  transform: translateY(0);
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

nav {
  height: 60px;
  background-color: rgb(32, 32, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  top: 0;
  width: 100%;
  color: white;
  font-family: 'Poppins';
  font-size: large;
  font-weight: 600;
  z-index: 1000;
}
